calendar
.bundle/
.sass-cache/
.DS_Store
tmp/

db/*.sqlite3
*.log
rack.pid
config/*
nohup.out
*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
# /db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
**~
.add_env_done
config/databases.yml
/test.php
/custom*
/bootstrap
/multicompany
*.DS_Store
*~
*.orig

tmp
*.\#*
# documents
htdocs/conf/conf.php
*conf.php
*.bckp
*\#*\#

*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
.rvmrc
/.bundle
/vendor/bundle
/log/*
/tmp/*
# /db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
.project

