%head
  %title
    Ax Agenda
  %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf8'}
  = haml :'html/html5'
  // Javascripts.
  // %script{:type => 'text/javascript', :src => '/js/calendar/Extensible-config.js'}
  %script{:type => 'text/javascript', :src => '/js/extjs/ext-all.js'}
  %script{:type => 'text/javascript', :src => '/js/calendar/lib/extensible-all-debug.js'}
  %script{:type => 'text/javascript', :src => '/js/calendar/App.js'}
  // = js :application
  // Style sheets.
  %link{:rel => 'stylesheet', :type => 'text/css', :href => '/js/extjs/resources/css/ext-all-debug.css'}
  %link{:rel => 'stylesheet', :type => 'text/css', :href => '/css/test-app.css'}
  // = css :application, media: 'screen'


