%div{style: 'display:none'}
  #app-header-content
    #app-logo
      %div.logo-top
        &#160
      #logo-body
        &#160
      %div.log-bottom
        &#160
    %h1
      Ax Agenda V2 (Ext Calendar Pro)
    %span#app-msg.x-hidden


