<!DOCTYPE HTML>
%html
  = haml :'html/head', locals: { assets: locals[:assets] }
  %body
    = yield
  :javascript
    var updateLogoDt = function(){
        document.getElementById('logo-body').innerHTML = new Date().getDate();
    }
    updateLogoDt();
    //setInterval(updateLogoDt, 1000);


